.clearfix:before,
.clearfix:after {
	content:" ";
	display:table;
}

body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;color: #fff;font-family: Verdana;text-align: center;}

a{
	color: #fff;
	text-decoration: none;
}
ul,li{
	list-style: none;
}



#tImg{
	width: 100%;
	background-image: url(../img/bg-img.png);
	background-position: center bottom;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.lef{
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 6;
	}

.lef ul{
	width: 100%;
	height: 100%;
}

.lef ul li{
	width: 200px;
	height: 60px;
	line-height: 60px;
	border-radius: 30px;
	background-color:#7933e2; 
	font-size: 2em;
	margin: 60px auto;
	position: relative;
	z-index: 7;
}

.lef ul li:last-child{
	width: 200px;
	height: auto;
	background-color:transparent;
	text-align: center;
	z-index: 2;
}

#flo{
	position: relative;
	z-index: 1;
}


.rit{
	box-sizing: border-box;
	width: 75%;
	height: 1000px;
	position: absolute;
	top: 0;
	right: 0;
}

.rit #lin{
	width: 0;
	height: auto;
	position: relative;
	bottom: -100px;
	right: 20px;
	
}

#icon{
	width: 120px;
	height: auto;
	position: fixed;
	right: 200px;
	top: 100px;
	z-index: 20;
}

#bImg{
	width: 100%;
	background-color: #7933e2;
}

#list{
	height: 840px;
	width: 1344px;
	border-radius: 84px 84px 84px 84px;
	background-color:white;
	margin: auto; 

}

#list ul{
	box-sizing: border-box;
	padding-top: 40px;
	margin: auto;
	align-content: center;
	text-align: center;

}

#list ul li{
	width: 320px;
	height: 234px;
	float: left;
	background-color: #7933e2;
	margin: 60px;
	box-shadow: 20px 26px #7933e2;
}

b{
	font-size: 1.5em;
}

#list ul li img{
	width: 100%;
	height: auto;
	position: relative;
	z-index: 10;
	}

#list ul li img:hover{
	opacity: 0;
}

#list ul li div{
	box-sizing: border-box;
	width: 320px;
	height: auto;
	margin-top: 80px;
	text-align: center;
	z-index: 8;
	position: absolute;
	}


#cir{
	width: 20%;
	height: 100%;
	border-radius: 100%;
	border-style: solid;
	border-color: #f77d57;
	background-image: url(../img/int.jpg);
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	margin: auto;

}

.intro-text{
	width: 100%;
	text-align: center;
}

